@using BusinessLogic.DataTransfereObjects.EmployeeDtos
@using DataAccess.Models.EmployeeModel
@using DataAccess.Models.Shared.Enums
@using Presentation.ViewModels.EmployeeViwModel
@model EmployeeViewModel
@{
    ViewData["Title"] = "Create";

}

<div class="row justify-content-center align-content-center mt-3">
    <h1 class="col-8 my-4">Create Employee</h1>
    <form method="post" asp-controller="Employees" asp-action="Create" class=" row col-8" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>

        <partial name="PartialViews/CreateEditEmployeePartialViews"/>
        <div class="mt-4 m-auto">
            <input class="btn btn-primary" type="submit" value="Save" />
            <a asp-controller="Employees" asp-action="Index" class="btn btn-outline-dark">Back to list</a>
        </div>
    </form>
</div>

@section ValidationScript
     {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}